.clinic-container{
    .home-header-container {
        background-color: #effffa;
    }
    .all-clinic-container{
        .title-clinic{
            font-size: 20px;
            font-weight: 600;
            margin-left: 100px;
        }
        .one-clinic{
            margin: 20px 100px;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            display: flex;
            align-items: center;
            .img-clinic{
                height: 150px;
                width: 200px;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .name-clinic{
                font-size: 18px;
                margin-left: 20px;
            }
            
        }
    }
}
