.doctor-container{
    .home-header-container {
        background-color: #effffa;
    }
    .all-doctor-container{
        .title-doctor{
            font-size: 20px;
            font-weight: 600;
            margin-left: 100px;
        }
        .one-doctor{
            margin: 20px 100px;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            display: flex;
            align-items: center;
            .img-doctor{
                height: 200px;
                width: 200px;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .name-doctor{
                font-size: 18px;
                margin-left: 20px;
            }
            
        }
    }
}
