.specialty-container{
    .home-header-container {
        background-color: #effffa;
    }
    .all-specialty-container{
        .title-specialty{
            font-size: 20px;
            font-weight: 600;
            margin-left: 100px;
        }
        .one-specialty{
            margin: 20px 100px;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            display: flex;
            align-items: center;
            .img-specialty{
                height: 100px;
                width: 200px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .name-specialty{
                font-size: 18px;
            }
            
        }
    }
}
